In [1]:
import pandas as pd

from sklearn.naive_bayes import MultinomialNB

In [2]:
df = pd.read_csv("C:/Users/user/Desktop/DMX/Datasets/golf.csv/golf-dataset.csv")
df.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Outlook    14 non-null     object
 1   Temp       14 non-null     object
 2   Humidity   14 non-null     object
 3   Windy      14 non-null     bool
 4   Play Golf  14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [4]:
#Changing all the features to Category

df = df.apply(lambda x : x.astype('category'))

df1 = df.apply(lambda x : x.cat.codes)

df1

    Outlook  Temp  Humidity  Windy  Play Golf
0         1     1         0      0          0
1         1     1         0      1          0
2         0     1         0      0          1
3         2     2         0      0          1
4         2     0         1      0          1
5         2     0         1      1          0
6         0     0         1      1          1
7         1     2         0      0          0
8         1     0         1      0          1
9         2     2         1      0          1
10        1     2         1      1          1
11        0     2         0      1          1
12        0     1         1      0          1
13        2     2         0      1          0

In [5]:
#Spliting and training the data

X = df1.drop('Play Golf', axis = 1)
y = df1['Play Golf']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [8]:
# Building the model

from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

model_obj = model.fit(X_train, y_train)

y_pred = model.predict(X_test)
y_pred

array([1, 1, 1, 1, 1], dtype=int8)

In [9]:
# Evaluating the Model

from sklearn.metrics import confusion_matrix

print('Confusion_matrix : ')

confusion_matrix(y_test, y_pred)

Confusion_matrix :

array([[0, 1],
       [0, 4]], dtype=int64)

In [10]:
#Checking the Accuracy score

from sklearn.metrics import accuracy_score

print('Accuracy score : ')

accuracy_score(y_test, y_pred)

Accuracy score :

0.8